.current-ticket {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  overflow-y: scroll;
}

.ticket-section {
  padding: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
} 
.ticket-section h3 {
  text-align: center;

}
.individual-ticket {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  position: relative; /* add position relative */
  padding-right: 30px;
  font: 15px;
}

.delete-ticket {
  all: unset;
  position: absolute;
  top: 15px;  
  right: 15px;
  transform: translate(50%, -50%);
  cursor: pointer; 
}

p {
  margin: 0;
  font-size: 14px;
  line-height:1;
}

span {
  font-weight: bold;
  
}  
.Modal {
  background-color: #fff;
  border-radius: 15px;
  border: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 50%;
}
.Edit-ticket{
  width: 100%;
  text-align: center;
  padding-top: 20px;
}
.firstRow {
  min-height: 100px;
}
.sort {
  margin: 20px 0px 10px 0px;
}
.sort:active{
  background-color: white !important;
  color: blue !important;
}
.form-select {
  max-width: 300px;
}
.critical {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  position: relative; /* add position relative */
  padding-right: 30px;
  font: 15px;
  background-color: rgb(255, 117, 117);
  min-width:150px;
}
.high {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  position: relative; /* add position relative */
  padding-right: 30px;
  font: 15px;
  background-color: orange;
  min-width:150px;
}
.medium {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  position: relative; /* add position relative */
  padding-right: 30px;
  font: 15px;
  background-color: yellow;
  min-width:150px;
}
.low {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  position: relative; /* add position relative */
  padding-right: 30px;
  font: 15px;
  background-color: green;
  min-width:150px;
}