.current-ticket {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  overflow-y: scroll;
}

.ticket-section {
  width: 23%;
  padding: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
}
.ticket-section h3 {
  text-align: center;
}

.individual-ticket {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  position: relative; /* add position relative */
  padding-right: 30px;
  font: 15px;
}

.delete-ticket {
  all: unset;
  position: absolute;
  top: 15px;  
  right: 15px;
  transform: translate(50%, -50%);
  cursor: pointer; 
}

p {
  margin: 0;
  font-size: 14px;
  line-height:1;
}

span {
  font-weight: bold;
  
}
.Modal {
  background-color: red;
  height: 70%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10%;
  left:40%;
}